* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
}

nav {
    background-color: aqua;
    flex-grow: 1;
}

div {
    display: flex;
    flex-direction: column;
    flex-grow: 6;
}
header {
    background-color: blueviolet;
    height: 50px;
}

main {
    background-color: chartreuse;
    flex-grow: 1;
}

footer {
    background-color: darkgoldenrod;
    height: 50px;
}